#wrap {position: relative; width:100%; height:auto;}
#wrap .ex_br {position:relative; width:100%; height:auto; list-style:none; overflow:hidden;}
#wrap li{float:left; width:30%; margin:0 1%; color:#fff; font-size:30px; text-align:center;}
#wrap .ex1 {background:#ceacd0;}
#wrap .ex2 {background:#a6b6c8;}
#wrap .ex3 {background:#acd0af;}
